    	

 	:root {
 		--main-color: Goldenrod;
 		--secondary-color: maroon;
 		--terciary-color: white;
 	}

	body {
    	width: 100%;
	    height: 100%;
    	font-size: 4vmin;
	    margin: 0;
    	background: var(--secondary-color);
	    overflow:auto;
	}

 	.wrapper {
    	display: grid;
	    height: 100vh;
    	grid-template-rows: 8vh auto 8vh;
 	}

 	nav {
      	border-bottom: 3px solid black;
        background: var(--secondary-color);
    }

    nav ul {
      	margin: 0;
      	padding: 0;
      	list-style-type: none;
    }

    nav li {
      	float: left;
    }

    nav li:last-child {
    	float: right;
    }

    .nav-icon {
      	float:right;
      	font-size: 5vmin;
    }

    nav li a {
      	display: block;
      	color: var(--main-color);
        text-align: center;
        padding: 1vh 2vw;
        font-size: 5vmin;
        text-decoration: none;
    }

    nav li a:hover {
        color: #ff99ff;
    }
<<<<<<< HEAD

    /* Form-specific CSS */
    .fatradio-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      size: 0px;
    }

    .fatradio-button+label {
      border: 1px solid black;
      background-color: lightblue;
      padding-left: 5px;
      padding-right: 5px;
      white-space: nowrap;
    }

    #tabHaveWant {
      white-space: nowrap;
      z-index: 2;
    }

    .fatradio-button:checked+label {
      border-top: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid white;
      background-color: white;
    }

    #formarea {
      padding-top: 5px;
      padding-bottom: 5px;
      border: 1px solid black;
      z-index: 1;
    }

    #idbookDesc {
      width: 75%;
=======
    .flex-containerITEMLISTCONTAINER{
        display: flex;
        flex-wrap: wrap;
        background-color: red;

    }
    .flex-containerITEMLISTCONTAINER > div{
        background-color: gray;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 50px;
        font-size: 30px;

    }
    .Desc{
        background-color: blue;
        color: black;
        margin: 10px;
        font-size: 20px;

>>>>>>> 5a390152c7b13e55d8c7d737a414ac0acab4f21a
    }