{% extends 'mainTemplate.html' %}

{% block content %}
    <main>
        <form action="/create/{{ direction }}" method="post">
            {% csrf_token %}
                <div id="tabHaveWant">
                    <input id="tabHave" class="fatradio-button" type="radio" name="bookItemType" {% if direction == 'have' %}checked="checked" {% endif %}/>
                    <label for="tabHave">I Have...</label>
                    <input id="tabWant" class="fatradio-button" type="radio" name="bookItemType" {% if direction == 'want' %}checked="checked" {% endif %}/>
                    <label for="tabWant"> I Want...</label>
                </div>
                <div id="formarea">
                    <table>
                        <!--<tr>
                            <td>
                                <label for="image">Upload Picture</label>
                            </td>
                            <td>
                                <input id="image" type="file"></button>
                            </td>
                        </tr>-->
                        <tr>
                            <td>
                                <label for="name">Book Title</label>
                            </td>
                            <td>
                                <input id="name" type="text" name="bookName">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="author">Author</label>
                            </td>
                            <td>
                                <input id="author" type="text" name="bookAuthor">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="class">Class</label>
                            </td>
                            <td>
                                <input id="class" type="text" name="bookClass">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="isbn">ISBN</label>
                            </td>
                            <td>
                                <input id="isbn" type="text" name="bookISBN">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="edition">Edition</label>
                            </td>
                            <td>
                                <input id="edition" type="text" name="bookVersion">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="publisher">Publisher</label>
                            </td>
                            <td>
                                <input id="publisher" type="text" name="bookPublisher">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="hardcover">Hardcover</label>
                            </td>
                            <td>
                                <input id="hardcover" type="checkbox" name="bookCoverHard">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="paperback">Paperback</label>
                            </td>
                            <td>
                                <input id="paperback" type="checkbox" name="bookCoverSoft">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="center">
                    <button type="submit" formmethod="post">Submit
                </div>
            </form>
        </main>
{% endblock %}
