{% extends 'mainTemplate.html' %}

{% block content %}
<main>
<img src="#" alt="listing image"><img></br>

{{ Book.name }} by {{ Book.author }}

{% if Book.sold %}
<b> Sorry, this book is sold! </b><br/>
{% endif %}

ISBN: {{ Book.isbn }}<br/>
Version Number: {{ Book.version }}<br/>
Publisher: {{ Book.publisher }}<br/>
{% if Book.hardcover %}
This is a hardcover version.<br/>
{% endif %}
{% if not Book.hardcover %}
This is a softcover version.<br/>
{% endif %}
This book is used in {{ Book.course }} classes. 


{% if this.emid == Book.poster %}
<div id="manageItem">
	<form action="/sold" method="post">
	<input type="submit" value="Sold" disabled = {{ Book.sold }}>
	<!--<input type="button" value="Edit">-->
	</form>
</div>
{% endif %}

<div id="postComment">
	<form action="/comment" method="POST">
	Message Seller
	<textarea name="message"></textarea>
				
	<input type="submit" value="submit">
	</form>
</div>
</main>
{% endblock %}
