{% extends mainTemplate.html %}

{% block content %}

<img src={% url 'image' %} alt="image"><img>

{% bookTitle %}

{% bookProps %}

{% if isOwner %}
<div id="manageItem">
	<form action="/sold" method="post">
	<input type="submit" value="Sold">
	<!--<input type="button" value="Edit">-->
	</form>
</div>
{% endif %}

<div id="postComment">
	<form action="/comment" method="post">
	Message Seller
	<textarea name="message"></textarea>
				
	<input type="submit" value="submit">
	</form>
</div>


{% endblock %}